### Question Set 1:  
1. Write necessary SQL statements for the following purposes:  
a. Create a database named "Himalaya" with a table "Employee" that includes EmployeeID,
Name, Gender, Age, Department, and Salary, with EmployeeID being unique.  
b. Insert details of any two employees into the table.  
c. Retrieve the Name and Department of all employees who earn more than 50,000.  
d. Update the Department of an employee to "IT" with a specific EmployeeID.  
e. Drop the "Employee" table.

In [2]:
# import module to connect to a MySQL database
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "2002"
)

# create cursor to execute sql commands
cursor = conn.cursor()

# a. Create database and table
cursor.execute("CREATE DATABASE IF NOT EXISTS Himalaya;")
cursor.execute("USE Himalaya;")
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Employee(
            EmployeeID INT PRIMARY KEY,
            Name VARCHAR(50),
            Gender VARCHAR(50),
            Age INT,
            Department VARCHAR(50),
            Salary FLOAT
               );
               ''' )

# b. Insert 2 employee records
cursor.execute("""
               INSERT INTO Employee(EmployeeID, Name, Gender, Age, Department, Salary) 
               VALUES(1, 'Sita', 'Female', 30, 'Finance', 60000.00),(2, 'Ram', 'Male', 28, 'HR', 45000.00);
               """)

# c. Retrieve Name and Department of employees with salary > 50000
cursor.execute("SELECT Name, Department FROM Employee WHERE Salary > 50000;")
result = cursor.fetchall()
print("Employees with salary greater than 50K\n")
for row in result:
    print(row)

# d. Update department
cursor.execute("UPDATE Employee SET Department = 'IT' WHERE EmployeeID = 1; ")

Employees with salary greater than 50K

('Sita', 'Finance')

In [3]:
# e. Drop the employee table
cursor.execute("Drop TABLE Employee;")

# commit changes and close
conn.commit()
cursor.close()
conn.close()