### ðŸ“Œ What is SQL?
SQL (Structured Query Language) is a programming language used to manage and manipulate relational databases. It allows you to create, read, update, and delete (CRUD) data.

### âœ… 1. SQL Basics
ðŸ’¡ Key Concepts:  
Database: A collection of organized data.

Table: A collection of rows and columns.

Row: A record.

Column: A field.

| Operation    | Command        | Example                                           |
| ------------ | -------------- | ------------------------------------------------- |
| Create Table | `CREATE TABLE` | `CREATE TABLE users (id INT, name VARCHAR(100));` |
| Insert Data  | `INSERT INTO`  | `INSERT INTO users VALUES (1, 'Alice');`          |
| Select Data  | `SELECT`       | `SELECT * FROM users;`                            |
| Update Data  | `UPDATE`       | `UPDATE users SET name='Bob' WHERE id=1;`         |
| Delete Data  | `DELETE`       | `DELETE FROM users WHERE id=1;`                   |

### 2.Data Types
| Data Type      | Description            |
| -------------- | ---------------------- |
| `INT`          | Integer                |
| `VARCHAR(n)`   | Variable-length string |
| `TEXT`         | Long string            |
| `DATE`         | Date                   |
| `FLOAT/DOUBLE` | Decimal numbers        |
| `BOOLEAN`      | True or False          |

### âœ… 3. Advanced SELECT Queries
WHERE Clause: Filters results  
SELECT * FROM users WHERE age > 18;

AND / OR / NOT: Combine filters  
SELECT * FROM users WHERE age > 18 AND city = 'NY';

OR: Either condition is true  
SELECT * FROM users WHERE city = 'NY' OR city = 'LA';

NOT: Exclude condition  
SELECT * FROM users WHERE NOT city = 'Chicago';

ORDER BY: Sort results  
SELECT * FROM users ORDER BY name ASC;

LIMIT: Limit rows returned  
SELECT * FROM users LIMIT 10;

LIKE: Pattern matching  
SELECT * FROM users WHERE name LIKE 'A%';

IN / BETWEEN: Match multiple values  
IN:  
SELECT * FROM users WHERE city IN ('NY', 'LA', 'Chicago');

BETWEEN:  
SELECT * FROM users WHERE age BETWEEN 20 AND 30;