### Sqlite3
sqlite3 is a lightweight, self-contained SQL database engine that's part of the standard Python library. It allows you to work with SQLite databases directly from Python without requiring a separate server process.

In [1]:
pip install sqlite3

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [10]:
# import the module
import sqlite3

# connect to a database (or create one)
conn = sqlite3.connect("library.db")
# create a cursor object to execute sql commands
cursor = conn.cursor()

# create a table
cursor.execute("CREATE TABLE IF NOT EXISTS books (id INTEGER PRIMARY KEY AUTOINCREMENT, title TEXT, author TEXT, year INTEGER)")

# INSERT SOME BOOKS
books =[
    ("Muna Madan", "Laxmi Prasad Devkota", 1936),
    ("Basain", "Lil Bahadur Chettri", 1957),
    ("Shirishko Phool", "Parijat", 1965),
    ("Sumnima", "B.P. Koirala", 1969),
    ("Ghumne Mechmathi Andho Manche", "Bhupi Sherchan", 1969),
    ("Seto Dharti", "Amar Neupane", 2012),
    ("Karnali Blues", "Buddhisagar", 2010),
    ("Palpasa Café", "Narayan Wagle", 2005),
    ("Modiaain", "Ramesh Bikal", 1973),
    ("Alikhit", "Nayan Raj Pandey", 2021)
]

# Insert the list of books into the 'books' table
cursor.executemany("INSERT INTO books(title, author, year) VALUES (?,?,?)", books)

# Commit the transaction to save changes to the database
conn.commit()

# display all books
print("All books in the library database:\n")
cursor.execute("SELECT * FROM books")

for row in cursor.fetchall():
    print(row)

All books in the library database:

(1, 'Muna Madan', 'Laxmi Prasad Devkota', 1936)
(2, 'Basain', 'Lil Bahadur Chettri', 1957)
(3, 'Shirishko Phool', 'Parijat', 1965)
(4, 'Sumnima', 'B.P. Koirala', 1969)
(5, 'Ghumne Mechmathi Andho Manche', 'Bhupi Sherchan', 1969)
(6, 'Seto Dharti', 'Amar Neupane', 2012)
(7, 'Karnali Blues', 'Buddhisagar', 2010)
(8, 'Palpasa Café', 'Narayan Wagle', 2005)
(9, 'Modiaain', 'Ramesh Bikal', 1973)
(10, 'Alikhit', 'Nayan Raj Pandey', 2021)

In [11]:
# update the year of a specific book
cursor.execute("""
    UPDATE books
    SET year = 1960
    WHERE title = 'Basain'
""")

conn.commit()

In [12]:
# delete a specific book
cursor.execute("DELETE FROM books WHERE title = 'Modiaain' ")
conn.commit()

In [13]:
# display updated list of books
print("Books after update and delete:\n")
cursor.execute("SELECT * FROM books")
for row in cursor.fetchall():
    print(row)

Books after update and delete:

(1, 'Muna Madan', 'Laxmi Prasad Devkota', 1936)
(2, 'Basain', 'Lil Bahadur Chettri', 1960)
(3, 'Shirishko Phool', 'Parijat', 1965)
(4, 'Sumnima', 'B.P. Koirala', 1969)
(5, 'Ghumne Mechmathi Andho Manche', 'Bhupi Sherchan', 1969)
(6, 'Seto Dharti', 'Amar Neupane', 2012)
(7, 'Karnali Blues', 'Buddhisagar', 2010)
(8, 'Palpasa Café', 'Narayan Wagle', 2005)
(10, 'Alikhit', 'Nayan Raj Pandey', 2021)

In [7]:
# close the database
conn.close()

In [8]:
# import module
import sqlite3

# connect to a database(or create one) and create a cursor object
conn2 = sqlite3.connect("Student.db")
cursor2 = conn2.cursor()

# create table
cursor2.execute("CREATE TABLE IF NOT EXISTS Student(id INTEGER PRIMARY KEY AUTOINCREMENT, Name TEXT, Address TEXT, Phone_no INTEGER)")

# create student record
student_record =[
    ("Anish", "Buddhanagar", 1234),
    ("Shyam", "koteshwar", 2345),
    ("Hari", "Bara", 4567),
    ("Raj", "Parsa", 8765),
    ("Rajiv", "Butwal", 9854)
]

# Fill the table with student_record
cursor2.executemany("INSERT INTO Student(Name, Address, Phone_no) VALUES (?, ?, ?)", student_record)

# commit to save changes
conn2.commit()

# display all records of the Student table
cursor2.execute("SELECT * FROM Student")

for row in cursor2.fetchall():
    print(row)

(1, 'Anish', 'Buddhanagar', 1234)
(2, 'Shyam', 'koteshwar', 2345)
(3, 'Hari', 'Bara', 4567)
(4, 'Raj', 'Parsa', 8765)
(5, 'Rajiv', 'Butwal', 9854)

In [9]:
# update the student address whose name is Raj
cursor2.execute("""
UPDATE Student
SET Address = 'Makwanpur'
WHERE Name = 'Raj'
""")

# delete the record of student whose address is Butwal
cursor2.execute("DELETE FROM Student WHERE Address ='Butwal'")

conn2.commit()  # to save changes

# display the records after update and delete
cursor2.execute("SELECT * FROM Student")
print("Student records after update and delete:\n")
for row in cursor2.fetchall():
    print(row)

# close the connection
conn2.close()

Student records after update and delete:

(1, 'Anish', 'Buddhanagar', 1234)
(2, 'Shyam', 'koteshwar', 2345)
(3, 'Hari', 'Bara', 4567)
(4, 'Raj', 'Makwanpur', 8765)