In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\anish\anaconda3\envs\myenv\lib\site-packages (9.3.0)

In [5]:
## testing the connection
import mysql.connector
from mysql.connector import Error


try:
    mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password="2002",
        database="school"
    )
    print("Connected successfully.")
    mydb.close()
except Error as err:
    print("Error:", err)

Connected successfully.

In [ ]:
# Impor module to connect to a MySQL database
import mysql.connector

# Establish a connection to the MySQL database
mydb = mysql.connector.connect(
    host = "localhost",     
    user = "root",           
    password = "2002",       
    database = "school"      
)

# Create a cursor object to interact with the database
cursor = mydb.cursor()

# update
cursor.execute("UPDATE students SET age=22 WHERE id = 2 ")
mydb.commit() # to apply changes

# to retrieve all all records
cursor.execute("SELECT * FROM students")

# Iterate over the cursor to fetch and print each row from the query result

for i in cursor:      # can also use cursor.fetchall(), we have other options like fetchone(),fetchmany(size)

    print(i)  # Each 'i' is a tuple representing one row from the 'students' table

# Close the cursor to free up resources
cursor.close()

# Close the database connection
mydb.close()

(1, 'Ram', 22)
(2, 'Shyam', 22)
(3, 'Hari', 22)