### ðŸ“Œ What is SQL?
SQL (Structured Query Language) is a programming language used to manage and manipulate relational databases. It allows you to create, read, update, and delete (CRUD) data.

### âœ… 1. SQL Basics
ðŸ’¡ Key Concepts:  
Database: A collection of organized data.

Table: A collection of rows and columns.

Row: A record.

Column: A field.

| Operation    | Command        | Example                                           |
| ------------ | -------------- | ------------------------------------------------- |
| Create Table | `CREATE TABLE` | `CREATE TABLE users (id INT, name VARCHAR(100));` |
| Insert Data  | `INSERT INTO`  | `INSERT INTO users VALUES (1, 'Alice');`          |
| Select Data  | `SELECT`       | `SELECT * FROM users;`                            |
| Update Data  | `UPDATE`       | `UPDATE users SET name='Bob' WHERE id=1;`         |
| Delete Data  | `DELETE`       | `DELETE FROM users WHERE id=1;`                   |

### 2.Data Types
| Data Type      | Description            |
| -------------- | ---------------------- |
| `INT`          | Integer                |
| `VARCHAR(n)`   | Variable-length string |
| `TEXT`         | Long string            |
| `DATE`         | Date                   |
| `FLOAT/DOUBLE` | Decimal numbers        |
| `BOOLEAN`      | True or False          |

### âœ… 3. Advanced SELECT Queries
WHERE Clause: Filters results  
SELECT * FROM users WHERE age > 18;

AND / OR / NOT: Combine filters  
SELECT * FROM users WHERE age > 18 AND city = 'NY';

OR: Either condition is true  
SELECT * FROM users WHERE city = 'NY' OR city = 'LA';

NOT: Exclude condition  
SELECT * FROM users WHERE NOT city = 'Chicago';

ORDER BY: Sort results  
SELECT * FROM users ORDER BY name ASC;

LIMIT: Limit rows returned  
SELECT * FROM users LIMIT 10;

LIKE: Pattern matching  
SELECT * FROM users WHERE name LIKE 'A%';

IN / BETWEEN: Match multiple values  
IN:  
SELECT * FROM users WHERE city IN ('NY', 'LA', 'Chicago');

BETWEEN:  
SELECT * FROM users WHERE age BETWEEN 20 AND 30;

### âœ… 4. Joins (Combining Tables)
| Type         | Use Case                            | Example                                        |
| ------------ | ----------------------------------- | ---------------------------------------------- |
| `INNER JOIN` | Only matching rows                  | `SELECT * FROM A INNER JOIN B ON A.id = B.id;` |
| `LEFT JOIN`  | All rows from left + matching right | `SELECT * FROM A LEFT JOIN B ON A.id = B.id;`  |
| `RIGHT JOIN` | All from right + matching left      | `SELECT * FROM A RIGHT JOIN B ON A.id = B.id;` |
| `FULL JOIN`  | All rows from both                  | `SELECT * FROM A FULL JOIN B ON A.id = B.id;`  |

### âœ… 5. Grouping and Aggregates
GROUP BY: Groups rows  
SELECT department, COUNT(*) FROM employees GROUP BY department;

HAVING: Filter groups  
SELECT department, COUNT(*) FROM employees GROUP BY department HAVING COUNT(*) > 5;

Aggregates:  

COUNT(), SUM(), AVG(), MIN(), MAX()

### âœ… 7. Database Design & Normalization
Normalization: Process of organizing data to reduce redundancy.

1NF: No repeating groups.

2NF: Remove partial dependencies.

3NF: Remove transitive dependencies.

Primary Key: Uniquely identifies a row.

Foreign Key: References a primary key from another table.

Index: Used to speed up searches.

### âœ… 8. Transactions & ACID
Transaction: A group of SQL operations executed as a unit.  

ACID Properties:  

Atomicity

Consistency

Isolation

Durability